@import url('https://api.fontshare.com/v2/css?f[]=switzer@300,400,500,800&display=swap');

:root {
  --font-switzer: 'Switzer', sans-serif;
}

$font-principal: 'Switzer', sans-serif;
$font-secondary: 'Switzer', sans-serif;
